/*
 * CSS based on docco.css.
 */

/*--------------------- Typography ----------------------------*/

@font-face {
	font-family: 'source-sans-pro-light';
	src: url('public/fonts/SourceSansPro-Light.eot');
	src: url('public/fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), url('public/fonts/SourceSansPro-Light.otf.woff') format('otf'), url('public/fonts/SourceSansPro-Light.ttf.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source-sans-pro-lightit';
	src: url('public/fonts/SourceSansPro-Lightit.eot');
	src: url('public/fonts/SourceSansPro-Lightit.eot?#iefix') format('embedded-opentype'), url('public/fonts/SourceSansPro-Lightit.otf.woff') format('otf'), url('public/fonts/SourceSansPro-Lightit.ttf.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source-sans-pro-regular';
	src: url('public/fonts/SourceSansPro-Regular.eot');
	src: url('public/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('public/fonts/SourceSansPro-Regular.otf.woff') format('otf'), url('public/fonts/SourceSansPro-Regular.ttf.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--------------------- Base Styles ----------------------------*/

body {
	font-family: "source-sans-pro-light";
	margin: 0;
	background-color: white;
}

hr {
	height: 1px;
	background: #ddd;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #0090e5;
	font-weight: normal;
	font-family: "source-sans-pro-regular";
	line-height: 1.5;
	margin-top: 50px;
}

h2 {
	font-size: 1.3em;
}

a {
	color: #ff3d00;
	text-decoration: none;
	font-family: "source-sans-pro-regular";
}

b, strong {
	font-weight: normal;
	font-family: "source-sans-pro-regular";
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 0;
	padding: 1px 0 1px 1em;
}

li {
	text-align: left;
}

.page blockquote p {
	font-family: source-sans-pro-lightit;
	color: #999;
	margin: 10px 0 0;
	white-space: pre-wrap;
}

pre, tt, code {
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 18px;
	display: inline-block;
	border: 1px solid #ccc;
	color: #555;
	padding: 0 5px;
	line-height: 28px;
	background-color: #f8f8f8;
}
.content pre {
	margin: 0;
	width: 690px;
	margin-left: 20px;
	padding: 10px 15px;
	color: #555;
	background: #fcfcfc;
	overflow-x: auto;
}
.content pre code {
	color: #555;
	border: 0;
	padding: 0;
	background: transparent;
}

/*--------------------- Layout ----------------------------*/
.header {
	position: fixed;
	top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
	-moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
	background: white;
	width: 100%;
    padding: 20px 0;
    opacity: 0.95;
}

.header h1 {
    float: left;
	display: inline;
    margin: 0;
    padding: 0;
    font-size: 44px;
    line-height: 100px;
}

.logo {
	float: left;
	display: block;
	background: #0090e5;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	color: white;
	font-size: 45px;
	line-height: 100px;
	text-align: center;
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
    margin: 0px 2% 0px 5%;
    padding: 0;
}

.logo:hover {
	background: #ff3d00;
}

.content {
	float: left;
	padding: 0 15px;
	margin: 130px 5% 50px 5%;
	background: #ffffff;
	font-size: 24px;
	line-height: 1.5;
	text-align: justify;
}

.content p {
	color: black;
	margin: 26px 0;
}

ul.sections {
	list-style: none;
	padding: 0 0 5px 0;;
	margin: 0;
}

.content li p {
	margin: 12px 0;
}

/*---------------------- Syntax Highlighting -----------------------------*/

td.linenos {
	background-color: #f0f0f0;
	padding-right: 10px;
}
span.lineno {
	background-color: #f0f0f0;
	padding: 0 5px 0 5px;
}

/* Hemisu Dark */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hemisu-comment, pre .comment, pre .xml .doctype, pre .html .doctype {
  color: #999999;
}

.hemisu-accent1, pre .number, pre .ruby .keyword {
  color: #538192;
}

.hemisu-accent2, pre .string, pre .regexp, pre .xml .value, pre .html .value {
  color: #739200;
}

.hemisu-accent3, pre .keyword, pre .title, pre .constant, pre .xml .tag, pre .html .tag, pre .css .rules .attribute {
  color: #ff0055;
}

.hemisu-accent4 {
  color: #503d15;
}
